# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Anu_Laptop\MS_Assigments_Fall2020\Homeworks_CS420_Fall2020\final_project\neiu-cs-420\src\main\resources\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
